In [1]:
import pandas as pd
import os

In [2]:
path=r'/Users/stefaniadaskalaki/pCloud Drive/02.Business/CHINGU/Voyage_47_team_30/01. Data'

## Importing EU electricity value 1 dataset as df_1 and checking outcome

In [3]:
df_1=pd.read_csv(os.path.join(path, 'electricity_eu_combined_trees.csv'),index_col=False)

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   electricity_unit         28 non-null     object
 1   electricity_value        28 non-null     float64
 2   country abbreviation     28 non-null     object
 3   type                     28 non-null     object
 4   carbon_g                 28 non-null     float64
 5   carbon_lb                28 non-null     float64
 6   carbon_kg                28 non-null     float64
 7   carbon_mt                28 non-null     float64
 8   country                  28 non-null     object
 9   trees required           28 non-null     float64
 10  trees required in units  28 non-null     float64
dtypes: float64(7), object(4)
memory usage: 2.6+ KB

### Checking df_1

In [5]:
df_1.head(29)

,electricity_unit,electricity_value,country abbreviation,type,carbon_g,carbon_lb,carbon_kg,carbon_mt,country,trees required,trees required in units
0,kwh,1.0,at,electricity,83.0,0.18,0.08,0.0,Austria,0.004,1.0
1,kwh,1.0,be,electricity,192.0,0.42,0.19,0.0,Belgium,0.009,1.0
2,kwh,1.0,bg,electricity,352.0,0.78,0.35,0.0,Bulgaria,0.016,1.0
3,kwh,1.0,hr,electricity,164.0,0.36,0.16,0.0,Croatia,0.007,1.0
4,kwh,1.0,cy,electricity,653.0,1.44,0.65,0.0,Cyprus,0.030,1.0
5,kwh,1.0,cz,electricity,386.0,0.85,0.39,0.0,Czech Republic,0.018,1.0
6,kwh,1.0,dk,electricity,116.0,0.26,0.12,0.0,Denmark,0.005,1.0
7,kwh,1.0,ee,electricity,669.0,1.47,0.67,0.0,Estonia,0.030,1.0
8,kwh,1.0,fi,electricity,67.0,0.15,0.07,0.0,Finland,0.003,1.0
9,kwh,1.0,fr,electricity,55.0,0.12,0.06,0.0,France,0.003,1.0
10,kwh,1.0,de,electricity,301.0,0.66,0.30,0.0,Germany,0.014,1.0
11,kwh,1.0,ie,electricity,293.0,0.65,0.29,0.0,Ireland,0.013,1.0
12,kwh,1.0,lv,electricity,92.0,0.20,0.09,0.0,Latvia,0.004,1.0
13,kwh,1.0,lt,electricity,146.0,0.32,0.15,0.0,Lithuania,0.007,1.0
14,kwh,1.0,lu,electricity,69.0,0.15,0.07,0.0,Luxembourg,0.003,1.0
15,kwh,1.0,mt,electricity,356.0,0.78,0.36,0.0,Malta,0.016,1.0
16,kwh,1.0,pl,electricity,724.0,1.60,0.72,0.0,Poland,0.033,1.0
17,kwh,1.0,ro,electricity,208.0,0.46,0.21,0.0,Romania,0.010,1.0
18,kwh,1.0,sk,electricity,90.0,0.20,0.09,0.0,Slovakia,0.004,1.0
19,kwh,1.0,gr,electricity,522.0,1.15,0.52,0.0,Greece,0.024,1.0
20,kwh,1.0,pt,electricity,201.0,0.44,0.20,0.0,Portugal,0.009,1.0
21,kwh,1.0,it,electricity,212.0,0.47,0.21,0.0,Italy,0.010,1.0
22,kwh,1.0,nl,electricity,318.0,0.70,0.32,0.0,Netherlands,0.015,1.0
23,kwh,1.0,es,electricity,190.0,0.42,0.19,0.0,Spain,0.009,1.0
24,kwh,1.0,gb,electricity,209.0,0.46,0.21,0.0,Great Britain,0.010,1.0
25,kwh,1.0,se,electricity,13.0,0.03,0.01,0.0,Sweden,0.000,0.0
26,kwh,1.0,si,electricity,219.0,0.48,0.22,0.0,Slovenia,0.010,1.0
27,kwh,1.0,hu,electricity,218.0,0.48,0.22,0.0,Hungary,0.010,1.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_1.shape

(29, 11)

### Checking for Missing Values

In [7]:
df_1.isna().sum() # discovered that the last row is with NaN values

electricity_unit           1
electricity_value          1
country abbreviation       1
type                       1
carbon_g                   1
carbon_lb                  1
carbon_kg                  1
carbon_mt                  1
country                    1
trees required             1
trees required in units    1
dtype: int64

In [8]:
# deleting the last row

df_1 = df_1.iloc[:-1]

In [9]:
# checking outcome

df_1.isna().sum()

electricity_unit           0
electricity_value          0
country abbreviation       0
type                       0
carbon_g                   0
carbon_lb                  0
carbon_kg                  0
carbon_mt                  0
country                    0
trees required             0
trees required in units    0
dtype: int64

### Checking for consistency

In [10]:
# checking for mixed type columns

for col in df_1.columns.tolist():
  weird = (df_1[[col]].applymap(type) != df_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_1[weird]) > 0:
    print (col)

### Checking for duplicates

In [11]:
df_dups = df_1[df_1.duplicated()]

In [12]:
df_dups

Empty DataFrame
Columns: [electricity_unit, electricity_value, country abbreviation, type, carbon_g, carbon_lb, carbon_kg, carbon_mt, country, trees required, trees required in units]
Index: []

### Performing descriptive statistics

In [13]:
 df_1.describe()

,electricity_value,carbon_g,carbon_lb,carbon_kg,carbon_mt,trees required,trees required in units
count,28.0,28.000000,28.000000,28.000000,28.0,28.000000,28.000000
mean,1.0,254.214286,0.560000,0.254286,0.0,0.011643,0.964286
std,0.0,190.189644,0.419312,0.189569,0.0,0.008685,0.188982
min,1.0,13.000000,0.030000,0.010000,0.0,0.000000,0.000000
25%,1.0,110.000000,0.245000,0.112500,0.0,0.004750,1.000000
50%,1.0,208.500000,0.460000,0.210000,0.0,0.010000,1.000000
75%,1.0,326.500000,0.720000,0.327500,0.0,0.015250,1.000000
max,1.0,724.000000,1.600000,0.720000,0.0,0.033000,1.000000

## Importing EU electricity value 2-50 dataset as df_2 and checking outcome

In [17]:
df_2=pd.read_csv(os.path.join(path, 'emissions_eu50_trees.csv'),index_col=False)

In [18]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Index                    1372 non-null   int64
 1   electricity_unit         1372 non-null   object
 2   country abbreviation     1372 non-null   object
 3   type                     1372 non-null   object
 4   carbon_g                 1372 non-null   int64
 5   carbon_lb                1372 non-null   float64
 6   carbon_kg                1372 non-null   float64
 7   carbon_mt                1372 non-null   int64
 8   country                  1372 non-null   object
 9   electricity_value        1372 non-null   int64
 10  trees_required           1372 non-null   float64
 11  trees_required_in_units  1372 non-null   int64
dtypes: float64(3), int64(5), object(4)
memory usage: 128.8+ KB

### Checking df_2

In [19]:
df_2.head(15)

,Index,electricity_unit,country abbreviation,type,carbon_g,carbon_lb,carbon_kg,carbon_mt,country,electricity_value,trees_required,trees_required_in_units
0,0,kwh,at,electricity,166,0.36,0.16,0,Austria,2,0.007273,1
1,1,kwh,at,electricity,249,0.54,0.24,0,Austria,3,0.010909,1
2,2,kwh,at,electricity,332,0.72,0.32,0,Austria,4,0.014545,1
3,3,kwh,at,electricity,415,0.90,0.40,0,Austria,5,0.018182,1
4,4,kwh,at,electricity,498,1.08,0.48,0,Austria,6,0.021818,1
5,5,kwh,at,electricity,581,1.26,0.56,0,Austria,7,0.025455,1
6,6,kwh,at,electricity,664,1.44,0.64,0,Austria,8,0.029091,1
7,7,kwh,at,electricity,747,1.62,0.72,0,Austria,9,0.032727,1
8,8,kwh,at,electricity,830,1.80,0.80,0,Austria,10,0.036364,1
9,9,kwh,at,electricity,913,1.98,0.88,0,Austria,11,0.040000,1
10,10,kwh,at,electricity,996,2.16,0.96,0,Austria,12,0.043636,1
11,11,kwh,at,electricity,1079,2.34,1.04,0,Austria,13,0.047273,1
12,12,kwh,at,electricity,1162,2.52,1.12,0,Austria,14,0.050909,1
13,13,kwh,at,electricity,1245,2.70,1.20,0,Austria,15,0.054545,1
14,14,kwh,at,electricity,1328,2.88,1.28,0,Austria,16,0.058182,1

In [20]:
df_2.shape

(1372, 12)

In [21]:
# dropping column Index to match df_1

df_2.drop(columns = ['Index'])

,electricity_unit,country abbreviation,type,carbon_g,carbon_lb,carbon_kg,carbon_mt,country,electricity_value,trees_required,trees_required_in_units
0,kwh,at,electricity,166,0.36,0.16,0,Austria,2,0.007273,1
1,kwh,at,electricity,249,0.54,0.24,0,Austria,3,0.010909,1
2,kwh,at,electricity,332,0.72,0.32,0,Austria,4,0.014545,1
3,kwh,at,electricity,415,0.90,0.40,0,Austria,5,0.018182,1
4,kwh,at,electricity,498,1.08,0.48,0,Austria,6,0.021818,1
...,...,...,...,...,...,...,...,...,...,...,...
1367,kwh,hu,electricity,10028,22.08,10.12,0,Hungary,46,0.460000,1
1368,kwh,hu,electricity,10246,22.56,10.34,0,Hungary,47,0.470000,1
1369,kwh,hu,electricity,10464,23.04,10.56,0,Hungary,48,0.480000,1
1370,kwh,hu,electricity,10682,23.52,10.78,0,Hungary,49,0.490000,1
1371,kwh,hu,electricity,10900,24.00,11.00,0,Hungary,50,0.500000,1

### Checking for Missing Values

In [22]:
df_2.isna().sum()

Index                      0
electricity_unit           0
country abbreviation       0
type                       0
carbon_g                   0
carbon_lb                  0
carbon_kg                  0
carbon_mt                  0
country                    0
electricity_value          0
trees_required             0
trees_required_in_units    0
dtype: int64

### Checking for consistency

In [23]:
# checking for mixed type columns

for col in df_2.columns.tolist():
  weird = (df_2[[col]].applymap(type) != df_2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2[weird]) > 0:
    print (col)

### Checking for duplicates

In [24]:
df_dups2 = df_2[df_2.duplicated()]

In [25]:
df_dups2

Empty DataFrame
Columns: [Index, electricity_unit, country abbreviation, type, carbon_g, carbon_lb, carbon_kg, carbon_mt, country, electricity_value, trees_required, trees_required_in_units]
Index: []

### Performing descriptive statistics

In [26]:
 df_2.describe()

,Index,carbon_g,carbon_lb,carbon_kg,carbon_mt,electricity_value,trees_required,trees_required_in_units
count,1372.000000,1372.000000,1372.000000,1372.000000,1372.0,1372.000000,1372.000000,1372.000000
mean,685.500000,6609.571429,14.560000,6.611429,0.0,26.000000,0.300519,1.045918
std,396.206596,6596.346322,14.539382,6.581786,0.0,14.147292,0.299172,0.209384
min,0.000000,26.000000,0.060000,0.020000,0.0,2.000000,0.000909,1.000000
25%,342.750000,2009.250000,4.407500,2.037500,0.0,14.000000,0.092614,1.000000
50%,685.500000,4425.000000,9.800000,4.425000,0.0,26.000000,0.201136,1.000000
75%,1028.250000,8910.500000,19.680000,8.962500,0.0,38.000000,0.407386,1.000000
max,1371.000000,36200.000000,80.000000,36.000000,0.0,50.000000,1.636364,2.000000

## Combining df_1 and df_2

In [ ]:
# concatenating both dfs along the rows since they have same columns

df_combined = pd.concat([df_1, df_2], ignore_index=True) # Setting ignore_index=True ensures that the index is reset after concatenation