In [70]:
import pandas as pd
import numpy as np
import os

In [71]:
path=r'/Users/stefaniadaskalaki/pCloud Drive/02.Business/CHINGU/Voyage_47_team_30/01. Data'

In [72]:
df_1=pd.read_csv(os.path.join(path, 'electricity_eu_combined_trees.csv'),index_col=False)

In [73]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   electricity_unit         28 non-null     object
 1   electricity_value        28 non-null     float64
 2   country abbreviation     28 non-null     object
 3   type                     28 non-null     object
 4   carbon_g                 28 non-null     float64
 5   carbon_lb                28 non-null     float64
 6   carbon_kg                28 non-null     float64
 7   carbon_mt                28 non-null     float64
 8   country                  28 non-null     object
 9   trees required           28 non-null     float64
 10  trees required in units  28 non-null     float64
dtypes: float64(7), object(4)
memory usage: 2.6+ KB

In [74]:
# Defining the electricity values for which you want to add data

electricity_values = list(range(2, 11))  # From 2 to 10

In [75]:
# Define the multiplier for electricity values 2-10

multiplier = len(electricity_values)

In [76]:
# Duplicate the rows for electricity values 2-10 for each country and update the electricity values accordingly

new_rows = []
for country in df_1['country'].unique():
    for value in electricity_values:
        new_df_1 = df_1[df_1['country'] == country].copy()
        new_df_1['electricity_value'] = value
        new_rows.append(new_df_1.reset_index(drop=True)) # resetting index to ensure uniqueness

In [77]:
# Concatenate the duplicated rows to the original DataFrame

df_extended = pd.concat(new_rows)

In [78]:
# Calculate carbon emissions and trees required for the extended dataset

df_extended['carbon_g'] = df_extended['carbon_g'] * df_extended['electricity_value']
df_extended['carbon_lb'] = df_extended['carbon_lb'] * df_extended['electricity_value']
df_extended['carbon_kg'] = df_extended['carbon_kg'] * df_extended['electricity_value']
df_extended['carbon_mt'] = df_extended['carbon_mt'] * df_extended['electricity_value']
df_extended['trees_required'] = df_extended['carbon_kg'] / 22

In [79]:
# Calculate trees_required_in_units as the rounded-up value of trees_required

df_extended['trees_required_in_units'] = np.ceil(df_extended['trees_required'])

In [80]:
# Display the extended dataset

print(df_extended)

   electricity_unit  electricity_value country abbreviation         type  \
0               kwh                  2                   at  electricity
0               kwh                  3                   at  electricity
0               kwh                  4                   at  electricity
0               kwh                  5                   at  electricity
0               kwh                  6                   at  electricity
..              ...                ...                  ...          ...
0               kwh                  6                   hu  electricity
0               kwh                  7                   hu  electricity
0               kwh                  8                   hu  electricity
0               kwh                  9                   hu  electricity
0               kwh                 10                   hu  electricity

    carbon_g  carbon_lb  carbon_kg  carbon_mt  country  trees required  \
0      166.0       0.36       0.16        0.0  Austria           0.004
0      249.0       0.54       0.24        0.0  Austria           0.004
0      332.0       0.72       0.32        0.0  Austria           0.004
0      415.0       0.90       0.40        0.0  Austria           0.004
0      498.0       1.08       0.48        0.0  Austria           0.004
..       ...        ...        ...        ...      ...             ...
0     1308.0       2.88       1.32        0.0  Hungary           0.010
0     1526.0       3.36       1.54        0.0  Hungary           0.010
0     1744.0       3.84       1.76        0.0  Hungary           0.010
0     1962.0       4.32       1.98        0.0  Hungary           0.010
0     2180.0       4.80       2.20        0.0  Hungary           0.010

    trees required in units  trees_required  trees_required_in_units
0                       1.0        0.007273                      1.0
0                       1.0        0.010909                      1.0
0                       1.0        0.014545                      1.0
0                       1.0        0.018182                      1.0
0                       1.0        0.021818                      1.0
..                      ...             ...                      ...
0                       1.0        0.060000                      1.0
0                       1.0        0.070000                      1.0
0                       1.0        0.080000                      1.0
0                       1.0        0.090000                      1.0
0                       1.0        0.100000                      1.0

[252 rows x 13 columns]

In [81]:
df_extended.head()

,electricity_unit,electricity_value,country abbreviation,type,carbon_g,carbon_lb,carbon_kg,carbon_mt,country,trees required,trees required in units,trees_required,trees_required_in_units
0,kwh,2,at,electricity,166.0,0.36,0.16,0.0,Austria,0.004,1.0,0.007273,1.0
0,kwh,3,at,electricity,249.0,0.54,0.24,0.0,Austria,0.004,1.0,0.010909,1.0
0,kwh,4,at,electricity,332.0,0.72,0.32,0.0,Austria,0.004,1.0,0.014545,1.0
0,kwh,5,at,electricity,415.0,0.90,0.40,0.0,Austria,0.004,1.0,0.018182,1.0
0,kwh,6,at,electricity,498.0,1.08,0.48,0.0,Austria,0.004,1.0,0.021818,1.0

In [82]:
df_1.head()

,electricity_unit,electricity_value,country abbreviation,type,carbon_g,carbon_lb,carbon_kg,carbon_mt,country,trees required,trees required in units
0,kwh,1.0,at,electricity,83.0,0.18,0.08,0.0,Austria,0.004,1.0
1,kwh,1.0,be,electricity,192.0,0.42,0.19,0.0,Belgium,0.009,1.0
2,kwh,1.0,bg,electricity,352.0,0.78,0.35,0.0,Bulgaria,0.016,1.0
3,kwh,1.0,hr,electricity,164.0,0.36,0.16,0.0,Croatia,0.007,1.0
4,kwh,1.0,cy,electricity,653.0,1.44,0.65,0.0,Cyprus,0.030,1.0

In [83]:
df

NameError: name 'df' is not defined